.total{
	border-top: 2px solid #D3D3D8;
    margin-top: 57px;
    background-color: #F5F5F7;
    display: grid;
    grid-template-columns: 23.4% 43% 17% 16%;
    padding-left: 8%;
    padding-top: 14px;
}
.total .cont-1{
	max-width: 99%;
    font-size: 14px;
}
.total .cont-2{
	max-width: 48%;
    font-size: 14px;
}
.total .cont-3 h2{
	margin-bottom: -10px;
    float: right;
    padding-right: 32px;
}
.total .cont-3 h5{
	padding-right: 18px;
    float: right;
}
.total button{
	margin-top: 26px;
    text-decoration: none;
    padding: 17px 19px;
    font-weight: 600;
    color: #ffffff;
    background-color: #1897D5;
    border-radius: 6px;
    border: none;
}
.total .color{
	color: #717885;
	line-height: 1.7;
}